#Header { 
    background-color: red
    Width: 20%
}
#Slider {
    background-color: green
}
#Service {
    background-color: blue
}
#Footer {
    background-color: greenyellow
}
.test {
    background-color: gray
}
.test {
    background-color: gray
}
div {
    background-color: yellow
}
.span {
    background-color: violet
}